<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
</head>
<body>
<div th:fragment="footer">

    <div class="container" style="display:flex">

        <footer>
            &copy; 2020 MS
            <span sec:authorize="isAuthenticated()">
                | Użytkownik:  [[${#httpServletRequest.remoteUser}]] |
                <a th:href="@{/logout}">Wyloguj</a>
            </span>

        </footer>
    </div>

</div>
</body>
</html>