<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Header</title>

    <div th:fragment="menu-css">
        <!-- this is header-css -->

        <link rel="stylesheet" th:href="@{/css/menu.css}"/>
    </div>
</head>
<body>
<div th:fragment="menu">
    <!-- this is header -->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/entry/show}"><img class="logo" src="/logo.jpg"></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li> <div class="item"><a th:href="@{/entry/show}">Pokaż wpisy</a></div></li>
                    <li> <div sec:authorize="isAuthenticated()"><a th:href="@{'/user/' +
                    ${#httpServletRequest.remoteUser}}">Moje wpisy</a> </div></li>
                    <li>   <div class="item"><a th:href="@{/entry/add}">Dodaj wpis</a></div></li>
                    <li>  <div class="item"><a th:href="@{/login}">Zaloguj się</a></div></li>
                    <li>   <div class="item"><a th:href="@{/registration}">Rejestracja</a></div></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</body>
</html>