<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Header</title>

    <div th:fragment="menu-css">
        <!-- this is header-css -->
        <meta charset="UTF-8">
        <meta name=viewport content=width=device-width initial-scale=1 maximum-scale=1>
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/questions.css}"/>

        <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
        <script>tinymce.init({ selector:'textarea' });</script>

    </div>
</head>
<body>
<div th:fragment="menu">
    <!-- this is header -->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}"><img class="logo" src="/logo.jpg"></a>
            </div>
            <div class="navbar-nav">
                <ul>
                    <li>
                        <div class="item"><a th:href="@{/entry/show}">Pokaż słownik</a></div>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <div class="item"><a th:href="@{'/user/' +
                    ${#httpServletRequest.remoteUser}}">Moje wpisy</a></div>
                    </li>
                    <li>
                        <div class="item"><a th:href="@{/questions/}">Pytania rekrutacyjne</a></div>
                    </li>
                </ul>

                <ul>
                    <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MODERATOR')">
                        <div class="dropdown">
                            <a class="dropbtn">Panel</a>
                            <div class="dropdown-content">

                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">Admin</a>

                                <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MODERATOR')"
                                   th:href="@{/moderator/}">Moderator</a>

                                <div class="item"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item"><a th:href="@{/login}">Logowanie</a></div>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <div class="item"><a th:href="@{/logout}">Wyloguj</a></div>
                    </li>
                    <li>
                        <div class="item"><a th:href="@{/registration}">Rejestracja</a></div>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>

</body>
</html>