.entry{
 border-style: solid;
 border-width: 1px;
 border-color: grey;
 padding: 4px;
 margin: 15px;
}
.btn a:link,.btn a:visited {
 background-color: black;
 color: white;
 padding: 4px 5px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 }

.btn a:hover,.btn a:active {
 background-color: white;
 color: black;
 border-width: 1px;
 border-color:black;
 }
.topbar{
padding: 0 10px 0 10px;
background-color: lightgrey;
display:flex;
 flex-wrap: wrap;
justify-content : space-between;}

.bottombar{
padding:0 10px 0px 10px;
display: flex;
justify-content: flex-start;
}

.btn{
margin: 5px;}


.entry-content{
 border-style: solid;
 border-width: 1px;
 border-color: grey;
 padding: 4px;
}

.category-wrapper{
display:flex;
justify-content: flex-start;
flex-wrap : wrap;
background: black;
padding: 20px;
}

.category-wrapper a:link,.category-wrapper a:visited{
    text-decoration:none;
    background: black;
    color: white;
    }
.category-wrapper a:active, .category-wrapper a:hover{
    background:white;
    color:black;
    }
}
