.entry{
 border-style: solid;
 border-width: 1px;
 border-color: grey;
 padding: 4px;
}
.delete-btn a:link,.delete-btn a:visited {
 background-color: black;
 color: white;
 padding: 4px 5px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 }

.delete-btn a:hover,.delete-btn a:active {
 background-color: white;
 color: black;
 border-width: 1px;
 border-color:black;
 }
.user-name{
float:left;}
.date{
float:right;}
.category{
clear:both;}