*{
box-sizing: border-box;}

body{
min-height:100vh;
display: flex;
flex-direction: column;
justify-content: space-between;
}

main{
margin-top: 100px;
}

.page-header, .page-footer{
display:flex;
background: black;
min-height: 100px;
color:white;
}

.page-header{
position:fixed;
top:0;
left:0;
width: 100%;
padding: 20px 40px;
justify-content: space-between;
align-items: center;}

.entries{
display: flex;
flex-direction: column;
align-content: flex-start;
}
.page-footer{
width: 100%;
top:0;
left:0;
min-height:40px;
display: flex;
justify-content: center;
align-content:center;}
