.container{
 background-color:black;
 display:flex;
 flex-wrap: wrap;
justify-content: space-between;
align-items: flex-start;
padding:10px 20px 10px}

.item a:link,.item a:visited {
  background-color: black;
  color: white;
  padding: 4px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
}

.item a:hover,.item a:active {
  background-color: white;
  color: black;
}

.navbar-nav ul{
list-style: none;
margin:0;
paddig:0;
display:flex;
    li{
    margin: 0 0 0 12px}
}


.navbar-brand{

line-height:1px;
}

.foot{
color:white;
display: flex;

}

.foot a:link, .foot a:visited {

color: white;}
