*{
box-sizing: border-box;}

.quest-container{
display:flex;
flex-direction: column;
justify-content: space-between;
padding:0 20px;
}

.question{
width: 85%;
display: flex;
flex-direction: column;
justify-content: space-between;
border-style: solid;
border-width: 1px;
border-color: grey;}

.topbar{
background: lightgrey;
display:flex;
flex-direction: row;
justify-content: space-between;
}

.quest-main{
display:flex;
justify-content: space-between;
flex-direction: column;
}

.answers{
display: flex;
flex-direction: column;
justify-content: space-between;}

.answer{
width: 85%;
display:flex;
flex-direction: column;
border-style: solid;
border-width: 1px;
border-color: grey;
margin: 5px;
 }


.add-answer{
width: 85%;


}