*{
box-sizing: border-box;}

.quest-container{
width:90%;
display:flex;
flex-direction: column;
justify-content: space-between;
padding:0 20px;
}

.question{
width:100%;
display: flex;
flex-direction: column;
justify-content: space-between;
border-style: solid;
border-width: 1px;
border-color: grey;}

.topbar{
background: lightgrey;
display:flex;
flex-direction: row;
justify-content: space-between;
}

.quest-main{
display:flex;
justify-content: space-between;
flex-direction: column;
}

.answers{
width:90%;
display: flex;
flex-direction: column;
justify-content: space-between;}

.answer{
display:flex;
flex-direction: column;
border-style: solid;
border-width: 1px;
border-color: grey;
margin: 5px;
 }


.add-answer{
width: 85%;
}

.bottombar{
display: flex;
flex-direction: row;
justify-content: flex-start;
  align-items: baseline;}

.btn-botbar{
padding:3px;
margin: 2px;
}