<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header class="page-header">
    <div th:replace="fragments/menu :: menu"/>
</header>

<form th:action="@{'/entry/edit/' + ${entry.id}}" th:object="${entry}" method="post">

    <label>Tytuł</label>
    <input type="text" th:field="*{title}" th:value="${title}">
    <label>Treść</label>
    <textarea th:field="*{content}" th:value="${content}" />
    <select th:field="*{selectedCategory}">
        <option th:each="category: ${categories}"
                th:value="${category.name}" th:text="${category.name}"></option>
    </select>
    <input type="submit" value="Edytuj">
</form>

</body>
</html>