<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edytuj Pytanie</title>

    <div th:replace="fragments/menu :: menu-css"/>



</head>
<body>

<main>
    <header class="page-header">
        <div th:replace="fragments/menu :: menu"/>
    </header>
    <section class="main-section">
        <div class="form-wrapper">

            <form class="editor" th:action="@{'/questions/' + ${question.id} + '/editquestion'}" method="post"
                  th:object="${question}">

                <div>
                    <label>Tytuł: </label>
                    <input type="text" th:field="*{title}" th:value="${question.title}"/>
                </div>
                <div>
                    <label>Firma rekrutująca: </label>
                    <input type="text" th:field="*{company}" th:value="${question.company}"/>
                </div>
                <div>
                    <label>Treść pytania: </label>
                    <textarea th:field="*{content}" th:value="${question.content}"
                              rows="10" cols="30"/>
                </div>
                <input type="submit" value="Zmień">
            </form>

        </div>
    </section>
</main>

<footer class="page-footer">
    <div th:replace="fragments/footer :: footer"/>
</footer>
</body>
</html>