<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edytuj Pytanie</title>

    <div th:replace="fragments/menu :: menu-css"/>

</head>
<body>

<main>
    <header class="page-header">
        <div th:replace="fragments/menu :: menu"/>
    </header>
    <section class="main-section">

        <form th:action="@{${question.id}+'/editquestion'}" method="post" th:object="${question}">

            <input type="text" th:field="*{title}" th:value="${question.content}"/>
            <input type="text" th:field="*{company}" th:value="${question.company}"/>

            <textarea th:field="*{content}" th:value="${question.content}"/>
            <input type="submit" value="Zmień">
        </form>

    </section>
</main>

<footer class="page-footer">
    <div th:replace="fragments/footer :: footer"/>
</footer>
</body>
</html>