<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Please input entry</title>
</head>
<body>


<form th:action="@{/entry/add}" th:object="${entry}" method="post">

    <label>Tytuł</label>
    <input type="text" th:field="*{title}">
    <label>Treść</label>
    <input type="text" th:field="*{content}">
    <select th:field = "*{category}">
    <option th:each="category: ${categories}"
            th:value="${category}" th:text="${category.name}"></option>
    </select>
    <input type="submit" value="go!">
</form>

</body>
</html>