<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Jdict</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <div th:replace="fragments/menu :: menu-css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/gallery.css}">
</head>
<body>

<header class="page-header">
    <div th:replace="fragments/menu :: menu"/>
    <div class="category-bar">
        <ul th:each="category:${categories}">
            <li class="category"><a th:href="@{'/entry/category/'+${category.id}}" th:text="${category.name}"></a></li>
        </ul>

    </div>
</header>

<section class="entries">

    <!--    <div th:if="${user.name}" th:text="|Witaj ${user.name}|"></div>-->

    <div class="entry" th:each="entry:${entries}">

        <div class="topbar">
            <div class="user-name" th:text="|Autor: ${entry.userEntry.userName}|"></div>
            <div class="category" th:text="|Kategoria: ${entry.category.name}|"></div>
            <div class="date" th:text="${entry.date}"></div>
        </div>
        <div class="entry-content">
            <strong th:text="${entry.title}"/> -
            <span th:text="${entry.content}"/>
        </div>
        <div th:if="${user}" class="bottombar">

            <div class="btn" th:if="${entry.userEntry.id} == ${user.id}">
                <a th:href="@{'/entry/delete/' + ${entry.id}}">Usuń</a>
            </div>
            <div class="btn" th:if="${entry.userEntry.id} == ${user.id}">
                <a th:href="@{'/entry/edit/' + ${entry.id}}">Edytuj</a>
            </div>
        </div>

    </div>
</section>
</main>

<footer class="page-footer">
    <div th:replace="fragments/footer :: footer"/>
</footer>

</body>
</html>