<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>thx</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <div th:replace="fragments/menu :: menu-css"/>
</head>
<body>
<main>
    <header class="page-header">
        <div th:replace="fragments/menu :: menu"/>
    </header>
    <section>

<a href="/entry/add">Dodaj kolejny</a>


    </section>
</main>

<footer class="page-footer">
    <div th:replace="fragments/footer :: footer"/>
</footer>
</body>
</html>