<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">

    <div th:replace="fragments/menu :: menu-css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/gallery.css}">



</head>
<body>
<header class="page-header">
    <div th:replace="fragments/menu :: menu"/>
</header>

<main>
<section>

<!--    <div th:if="${user.name}" th:text="|Witaj ${user.name}|"></div>-->

    <div class="entry" th:each="entry:${entries}">

        <div class="topbar">
            <div class="user-name" th:text="${entry.userEntry.userName}"></div>
            <div class="date" th:text="${entry.date}"></div>
        </div>
        <div class="category" th:text="${entry.category.name}"></div>
       <div class="entry content">
        <strong th:text="${entry.title}">Title</strong> -
        <span th:text="${entry.content}"></span>
       </div>
        <div th:if="${user}">

        <div class="delete-btn" th:if="${entry.userEntry.id} == ${user.id}">
            <a th:href="@{'/entry/delete/' + ${entry.id}}">Usuń</a>
        </div>
        <div class="delete-btn" th:if="${entry.userEntry.id} == ${user.id}">
            <a th:href="@{'/entry/edit/' + ${entry.id}}">Edytuj</a>
        </div>
        </div>

    </div>
</section>
</main>

<footer class="page-footer">
    <div th:replace="fragments/footer :: footer"/>
</footer>
</body>
</html>