<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" type="text/css" href="main.css">


</head>
<body>
<div th:text="${user.name}"></div>

<div th:each="entry:${entries}">

    <div th:text="${entry.content}"></div>
    <div th:text="${entry.userEntry.userName}"></div>
<!--    <div th:text="${entry.category.name}"></div>-->
    <div th:if="${entry.userEntry.id} == ${user.id}">
        <a th:href="@{'/entry/delete/' + ${entry.id}}">DELETE</a>
    </div>

</div>


</body>
</html>