<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>JDict| Wszystko dla przyszłego juniora </title>

    <div th:replace="fragments/menu :: menu-css"/>

</head>
<body>

<main>
    <header class="page-header">
        <div th:replace="fragments/menu :: menu"/>
    </header>
    <section class="main-section">

        <div class="title">
           <h1>Jdict</h1>
           </div>
        <div class="heading">
            <h2>Witaj, na tej stronie znajdziesz informacje, które pomogą przygotować Ci się do rozmów rektrutacyjncyh.</h2>
        </div>

        <div class="chooser">
            <h3><a href="/questions/">Pytania rekrutacyjne</a></h3>
        </div>

        <div class="chooser">
            <h3><a href="/entry/show/">Słownik przydatnych pojęć</a></h3>
        </div>

    </section>
</main>

<footer class="page-footer">
    <div th:replace="fragments/footer :: footer"/>
</footer>
</body>
</html>