<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>JDict Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <div th:replace="fragments/menu :: menu-css"/>
</head>

<body>
<main>
    <header class="page-header">
        <div th:replace="fragments/menu :: menu"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    </header>
    <section class="main-section">


        <div class="lgoin-container">
            <div class="login-wrapper">


                <form th:action="@{/login}" method="POST" class="form-signin">
                    <h2 class="form-signin-heading" th:text="Witaj"></h2>
                    <h4>Użytkownik: </h4>
                    <input type="text" id="user_name" name="user_name" placeholder="Nazwa użytkownika"
                           class="form-control"/> <br/>
                    <h4>Hasło: </h4><input type="password" th:placeholder="Hasło"
                                           id="password" name="password" class="form-control"/> <br/>

                    <div align="center" th:if="${param.error}">
                        <p style="font-size: 20; color: #FF1C19;">User Name or Password invalid, please verify</p>
                    </div>
                    <br/>
                    <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Zaloguj" type="Submit"
                            th:text="Zaloguj"></button>
                </form>
                <h3>Nie masz jeszcze konta?</h3>
                <form th:action="@{/registration}" method="get">
                    <button class="btn btn-md btn-warning btn-block" type="Submit">Zarejestruj się</button>
                </form>
            </div>
        </div>
    </section>
</main>

<footer class="page-footer">
    <div th:replace="fragments/footer :: footer"/>
</footer>
</body>
</html>
