<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pytania rekrutacyjna</title>

    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>

    <div th:replace="fragments/menu :: menu-css"/>


</head>
<body>

<main>
    <header class="page-header">
        <div th:replace="fragments/menu :: menu"/>
    </header>
    <section>


<div class="quest-container">
<h1>Pyatnie:</h1>
        <div class="question">
            <div class="topbar">
                <div class="author"><label>Autor: </label><span th:text="${question.author.userName}"/></div>
                <div class="date" th:text="${question.date}"></div>
            </div>
            <div class="quest-main">
                <div>
                    <label>Nazwa firmy: </label>
                    <a th:href="@{'/questions/' + ${question.company}}" th:text="${question.company}"></a>
                </div>
                <div>
                    <label>Tytuł: </label>
                    <span class="title" th:text="${question.title}"/>
                </div>
                <h3>Treść pytania:</h3>
                <div class="content" th:utext="${question.content}"></div>
                </h2>
            </div>
        </div>
    <div class="answers">

        <h2>Odpowiedzi: </h2>
        <div class="answer" th:each="answer: ${answers}">

            <div class="topbar">
                <div class="ans-author"><label>Autor: </label><span th:text="${answer.author.userName}"/></div>
                <div class="ans-date" th:text="${answer.date}"></div>
            </div>
            <div class="ans-content" th:utext="${answer.content}"></div>
        </div>
    </div>

        <div class="add-answer">
            <h3>Twoja odpowiedź</h3>
            <form th:action="@{'/questions/' + ${question.id} + '/addanswer'}" th:object="${newAnswer}"
                  method="post">
                <textarea th:field="*{content}" placeholder="Twoja odpowiedź"></textarea>
                <input type="submit">
            </form>
        </div>
</div>


    </section>
</main>

<footer class="page-footer">
    <div th:replace="fragments/footer :: footer"/>
</footer>
</body>
</html>