<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kategorie</title>

    <div th:replace="fragments/menu :: menu-css"/>

</head>
<body>

<main>
    <header class="page-header">
        <div th:replace="fragments/menu :: menu"/>
    </header>
    <section class="main-section">
        <div>

            <table>
                <tr>
                    <th>Id</th>
                    <th>Nazwa</th>
                    <th>Nowa Nazwa</th>
                    <th>Usuń</th>
                </tr>
                <tr th:each="category:${categories}">
                    <td th:text="${category.id}"/>
                    <td th:text="${category.name}"/>
                    <td>
                        <form th:action="@{'/moderator/categories/change/' + ${category.id}}" th:object="${newCat}"
                              method="post">
                            <input type="text" th:field="*{name}" th:placeholder="|Nowa nazwa dla ${category.name}|">
                            <input type="submit" value="Zmień">
                        </form>
                    </td>

                    <td><a th:href="@{'/categories/delete/' + ${category.id}}">Usuń Kategorię</a></td>

                </tr>
            </table>
        </div>

        <div>
            <form th:action="@{/moderator/categories/addnew}" th:object="${insertCategory}" method="post">
                <label>Nowa kategoria:</label>
                <input type="text" th:field="*{name}">
                <input type="submit" value="Dodaj">
            </form>
        </div>

    </section>
</main>

<footer class="page-footer">
    <div th:replace="fragments/footer :: footer"/>
</footer>
</body>
</html>